@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100;1,300;1,500&display=swap');
@import "_variable.scss";


#header {
    font-family: Roboto, sans-serif;

    .header-top {
        color: #6c6F72;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        background-color: #292929;
        padding: 10px 0;

        .top-left {
            // border: 2px solid red;

            // width: 50%;
            .trend {
                font-size: 13px;
                color: #ffffff;
                // border: 1px solid red;
                position: relative;
                margin-right: 22px;

                &::after {
                    content: "";
                    position: absolute;
                    background-color: white;
                    width: 2%;
                    height: 15px;
                    right: -15px;
                    top: 0;
                }

                i {
                    color: white;
                    font-size: 0.75rem;
                    background-image: linear-gradient(#0034c2, #2962ff);
                    // color: var(--color-white);
                    // width: 28px;
                    // height: 28px;
                    padding: 10px;
                    border-radius: 50%;
                    margin-right: 6px;
                }

            }

            .newsan {
                font-size: 13px;
                color: white;

                i {
                    font-size: 8px;
                    padding: 5px;
                    color: #656565;

                }
            }
        }

        .top-right {
            // border: 2px solid green;
            width: 35%;
            display: flex;
            align-items: center;

            i {
                color: white;
                padding: 10px;
            }

            .sunday {
                color: #A5A6AA;
                font-size: 12px;
                margin-right: 30px;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    background-color: #474747;
                    width: 2%;
                    height: 18px;
                    right: -15px;
                    top: 0;
                }
            }

            .follow {
                color: white;
            }

            ul {
                li {
                    a {
                        color: #BEBDBD;
                        font-size: 16px;
                        // margin-right: 16px;
                    }
                }
            }
        }
    }

    .header-bottom {
        background-color: white;
        padding: 20px;
        // border: 2px solid red;

        .nav-menu {

            // border: 3px solid green;
            li {
                padding: 15px 12px 15px 12px;
                // border: 2px solid yellow;
                color: black;
                margin-right: 7px;
                text-transform: capitalize;
                position: relative;
                font-weight: 600;
                position: relative;



                &:hover {
                    color: $color2;
                    cursor: pointer;

                    i {
                        transform: rotate(180deg);
                    }

                    .dropdown-menu {
                        opacity: 1;
                        visibility: visible;

                        ul {
                            li {
                                a {
                                    &:hover {
                                        color: $color2;
                                    }
                                }
                            }
                        }

                    }
                }

                &.active {
                    color: $color2;
                    font-weight: bold;
                }

                &.banbefore,
                &.active {
                    &::after {
                        content: "";
                        position: absolute;
                        top: 130%;
                        left: 50%;
                        background-color: $color2;
                        height: 5px;
                        transition: 0.5s ease-in-out;
                        width: 0%;

                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: 130%;
                        left: 50%;
                        background-color: $color2;
                        height: 5px;
                        transition: 0.5s ease-in-out;
                        width: 0%;
                    }

                    &:hover {
                        &::after {
                            left: 0;
                            width: 50%;

                        }

                        &::before {
                            width: 50%;
                        }
                    }

                }

                i {
                    padding: 6px;
                    font-size: 12px;
                    transition: 0.5s ease-in-out;
                }

                .dropdown-menu {
                    display: block;
                    position: absolute;
                    top: 135%;
                    left: 0;
                    border-radius: 10px;
                    padding: 10px 0;
                    opacity: 0;
                    visibility: hidden;

                    ul {
                        li {
                            padding: 10px 25px;
                            white-space: nowrap;
                            position: relative;

                            // border: 1px solid red;
                            &::before {
                                content: "";
                                position: absolute;
                                background-color: $color2;
                                left: 10px;
                                top: 38%;
                                height: 13px;
                                width: 3%;
                                transition: 0.5s ease-in-out;
                                opacity: 0;
                            }

                            &:hover {
                                &::before {
                                    opacity: 1;
                                }
                            }

                            a {
                                color: black;
                            }
                        }
                    }

                }
            }
        }

        .nav-icons {

            // border: 2px solid red;
            i {
                color: #6C6F72;
                font-size: 25px;
                // border: 1px solid red;
                padding: 7px;

                &#cart {
                    position: relative;

                    // border: 1px solid green;
                    .zero {
                        // border: 2px solid red;
                        position: absolute;

                        right: -1px;
                        top: -3px;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: #2962ff;
                        color: $color1;
                        font-size: 0.875rem;
                        display: -webkit-inline-box;
                        display: -ms-inline-flexbox;
                        display: inline-flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                    }
                }
            }



        }
    }
}

#footer {
    font-family: Roboto, sans-serif;
    padding-top: 92px;
    // padding-bottom: 95px;
    background-color: $color4;
    hr{
        // color: #252525;
        border: 1px solid #252525;
    }
    .footer-logo {
        // border: 3px solid red;
        // padding: 20px 0 10px;
        height: 400px;

        p {
            margin-top: 30px;
            color: #A5A5A5;
            line-height: 25px;
            font-size: 15px;
            margin-bottom: 25px;
        }

        ul {
            li {
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                color: var(--color-white);
                width: 36px;
                height: 36px;
                border-radius: 50%;
                font-size: 0.9375rem;
                -webkit-transition: all ease 0.4s;
                transition: all ease 0.4s;
                overflow: hidden;
                position: relative;
                background-color: #FFFFFF1A;
                color: white;
                // border: 2px solid red;
                margin-right: 4px;
                transition: .5s ease-in-out;

                // overflow: hidden;
                &:hover {
                    background-color: #2962FE;

                    a {
                        transform: translateY(-30px);
                    }
                }

                a {
                    color: white;
                    transform: translateY(-0px);
                    transition: 0.5s ease-in-out;

                    //   border: 2px solid red;

                }
            }


        }
    }

    .footer-recent {
        // border: 2px solid red;
        height: 400px;
        padding: 0 10px 0 50px ;

        h3 {
            color: white;
            font-size: 20px;
            font-family: Spartan, sans-serif;
            margin-bottom: 30px;
        }

        .recent-image {
            margin-bottom: 30px;

            img {
                border-radius: 50%;
                margin-right: 10px;
            }

            .recent-text {
                a {
                    color: #EBEBEB;
                    font-size: 15px;
                    display: inline-block;
                    margin-bottom: 15px;
                    font-weight: bold;
                }

                p {
                    font-size: 12px;
                    color: #D0D0D0;
                    font-weight: bold;

                    i {
                        padding: 5px;
                    }
                }
            }
        }
    }

    .categories {
        // border: 2px solid green;
        // text-align: center;
        height: 400px;
        padding: 0 80px;
        h3 {
            font-size: 20px;
            font-family: Spartan, sans-serif;
            margin-bottom: 30px;
            color: white;
            font-weight: 600;
        }

        ul {
            li {
                color: #6C6F72;
                margin-bottom: 25px;
                font-size: 16px;

                a {
                    color: #8F8F8F;
                    font-size: 15px;
                    padding: 0 0 0 20px;
                    text-transform: capitalize;
                    position: relative;
                    transition: 0.5s ease-in-out;

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background-color: #a5a5a5;
                        transition: all 0.3s ease;
                        -webkit-transition: all 0.3s ease;
                        transition: 0.5s ease-in-out;
                    }

                    &:hover {
                        color: white;

                        &::before {
                            background-color: #2962FE;
                        }
                    }
                }
            }
        }
    }

    .insta {
        // border: 2px solid red;
        height: 400px;

        h3 {
            color: white;
            font-size: 20px;
            margin-bottom: 30px;
            font-family: Spartan, sans-serif;
            font-weight: bold;
        }

        .insta-images {
            display: flex;
            flex-wrap: wrap;
            row-gap: 10px;

            .insta-div {

                a {
                    position: relative;
                    border: 2px solid red;
                   

                    &::before {
                        background-color: red;
                        -webkit-transition: all ease 0.8s;
                        transition: all ease 0.8s;
                        visibility: hidden;
                        opacity: 0;
                        -webkit-transform: scale(0);
                        transform: scale(0);
                        border-radius: 5px;
                        z-index: 1;
                    }
                    &::after {
                        content: "ï…­";
                        position: absolute;
                        z-index: 2;
                        font-family: "Font Awesome 5 Brands";
                        font-weight: 500;
                        font-size: 18px;
                        color: white;
                        left: 50%;
                        top: 50%;
                        // background-color: red;
                        -webkit-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        visibility: hidden;
                        opacity: 0;
                        -webkit-transition: all ease 0.3s;
                        transition: all ease 0.3s;

                    }

                    &:hover {
                        &::before {
                            opacity: 1;
                            visibility: visible;

                        }

                        &::after {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                }

                img {
                    vertical-align: middle;
                    border-radius: 5px;
                    // webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: all 1.5s ease-out;
    transition: all 1.5s ease-out;
    border-radius: var(--border-radius-xs);
                }
            }
        }
    }
    .footer-end-text{
        // border: 2px solid red;
        text-align: center;
        padding: 30px 0 20px;
        p{
            color: #CCCCCC;
            font-size: 16px;

        }
    }
}