@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100;1,300;1,500&display=swap");
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  outline: none;
}

a {
  text-decoration: none;
}

.author-post {
  font-family: Roboto, sans-serif;
}
.author-post .post-box-1 {
  background: #f7f7f7;
  padding: 30px 0;
  display: flex;
  align-items: center;
}
.author-post .post-box-1 a {
  color: #646464;
  font-size: 14px;
}
.author-post .post-box-1 a:hover {
  color: #2962FF;
}
.author-post .post-box-1 a i {
  padding: 10px;
}
.author-post .post-box-1 i {
  padding: 7px;
}
.author-post .post-box-1 i:hover {
  color: #2962FF;
}
.author-post .post-box-1 span {
  color: #2962FF;
  font-size: 14px;
}
.author-post .robert {
  background: url(https://radiustheme.com/demo/html/neeon/media/banner/banner_4.jpg) no-repeat center;
  min-height: 460px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
  padding: 100px 0;
}
.author-post .robert::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5019607843);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.author-post .robert .container-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.author-post .robert .container-box .robert-image img {
  border-radius: 50%;
  border: 6px solid white;
}
.author-post .robert .container-box .robert-text {
  width: 51%;
  padding: 10px 0;
}
.author-post .robert .container-box .robert-text h2 {
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 700;
}
.author-post .robert .container-box .robert-text span {
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
  display: inline-block;
  padding-bottom: 10px;
  position: relative;
  font-weight: 600;
}
.author-post .robert .container-box .robert-text span::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #2962FF;
  height: 4px;
  width: 42%;
}
.author-post .robert .container-box .robert-text p {
  font-size: 16px;
  margin-bottom: 16px;
  color: #EDEDED;
  font-weight: 400;
}
.author-post .robert .container-box .robert-icons {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  padding: 0px 0 180px 80px;
}
.author-post .robert .container-box .robert-icons a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  color: black;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  transition: 0.5s ease-in-out;
}
.author-post .robert .container-box .robert-icons a:hover {
  background-color: #2962FF;
}

.mixed-section {
  padding: 100px 0;
  font-family: Roboto, sans-serif;
}
.mixed-section .container-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mixed-section .container-div .world {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
.mixed-section .container-div .world .world-image .world-image-box {
  overflow: hidden;
}
.mixed-section .container-div .world .world-image .world-image-box img {
  border-radius: 4px;
  vertical-align: middle;
  transition: 0.5s ease-in-out;
}
.mixed-section .container-div .world .world-image .world-image-box img:hover {
  transform: scale(1.1);
}
.mixed-section .container-div .world .world-text {
  padding: 0 25px;
}
.mixed-section .container-div .world .world-text .world-link {
  background-color: #ffaf25;
  font-size: 0.75rem;
  color: white;
  font-weight: 500;
  padding: 0 8px;
  line-height: 2;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  height: 24px;
  display: inline-block;
  margin-bottom: 20px;
  display: inline-block;
}
.mixed-section .container-div .world .world-text .africa {
  display: block;
  font-size: 22px;
  color: black;
  font-family: Spartan, sans-serif;
  font-weight: 600;
  margin-bottom: 8px;
}
.mixed-section .container-div .world .world-text p {
  font-size: 16px;
  color: #6C6F72;
  margin-bottom: 16px;
}
.mixed-section .container-div .world .world-text ul li {
  color: #6C6F72;
  font-size: 12px;
}
.mixed-section .container-div .world .world-text ul li a {
  color: #444444;
  font-size: 12px;
  font-weight: 700;
}
.mixed-section .container-div .world .world-text ul li.calen {
  color: #A5A6AA;
}
.mixed-section .container-div .world .world-text ul li.calen i {
  font-size: 15px;
  padding: 0 8px 0 20px;
}
.mixed-section .container-div .world .world-text .readmore {
  padding: 5px 18px 5px 25px;
  margin-top: 25px;
  font-size: 0.75rem;
  font-weight: 700;
  height: 44px;
  background: transparent;
  color: #646464;
  text-transform: uppercase;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.05rem;
  transition: 0.5s ease-in-out;
}
.mixed-section .container-div .world .world-text .readmore i {
  padding: 10px;
  font-size: 20px;
  transition: 0.3s ease-in-out;
}
.mixed-section .container-div .world .world-text .readmore:hover {
  color: white;
  background-color: #2962ff;
  border-color: transparent;
}
.mixed-section .container-div .world .world-text .readmore:hover i {
  transform: rotate(180deg);
}
.mixed-section .container-div .mixed-right .input-box {
  padding: 5px;
  border-radius: 4px;
  width: 90%;
  border: 1px solid #e5e5e5;
  position: relative;
  margin-bottom: 30px;
}
.mixed-section .container-div .mixed-right .input-box input {
  font-size: 15px;
  font-weight: 700;
  font-weight: 500;
  letter-spacing: 2px;
  border: none;
  background-color: transparent;
  height: 43px;
  padding: 5px 18px;
  padding-right: 23px;
}
.mixed-section .container-div .mixed-right .input-box i {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 42px;
  border-radius: 3px;
  background-color: #2962FF;
  color: white;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.mixed-section .container-div .mixed-right .input-box i:hover {
  color: white;
  background-color: #0034c2;
}
.mixed-section .container-div .mixed-right .pop-news {
  font-size: 17px;
  color: black;
  font-family: Spartan, sans-serif;
  font-weight: bold;
  display: inline-block;
  margin-right: 15px;
}
.mixed-section .container-div .mixed-right .pop-dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #2962ff;
  display: inline-block;
}
.mixed-section .container-div .mixed-right .pop-images {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.mixed-section .container-div .mixed-right .pop-images .pop-image1 {
  width: 49%;
  padding: 8px 3px;
}
.mixed-section .container-div .mixed-right .pop-images .pop-image1:hover img {
  transform: scale(1.1);
}
.mixed-section .container-div .mixed-right .pop-images .pop-image1 .pop-image-box {
  overflow: hidden;
}
.mixed-section .container-div .mixed-right .pop-images .pop-image1 .pop-image-box img {
  transition: 0.5s ease-in-out;
}
.mixed-section .container-div .mixed-right .pop-images .pop-image1 .fashion {
  color: #7A7E83;
  margin-top: 15px;
  font-size: 12px;
  margin-bottom: 10px;
  display: block;
}
.mixed-section .container-div .mixed-right .pop-images .pop-image1 .beste {
  font-size: 18px;
  margin-bottom: 8px;
  color: black;
  display: block;
  font-weight: bold;
  position: relative;
}
.mixed-section .container-div .mixed-right .pop-images .pop-image1 .beste::before {
  content: "";
  position: absolute;
  background-color: #808080;
  top: 22px;
  left: 0;
  height: 1px;
  width: 0%;
  transition: 0.3s ease-in-out;
}
.mixed-section .container-div .mixed-right .pop-images .pop-image1 .beste::after {
  content: "";
  position: absolute;
  background-color: #808080;
  bottom: 3px;
  left: 0;
  height: 1px;
  width: 0%;
  transition: 0.6s ease-in-out;
  transition-delay: 0.3s;
}
.mixed-section .container-div .mixed-right .pop-images .pop-image1 .beste:hover::before, .mixed-section .container-div .mixed-right .pop-images .pop-image1 .beste:hover::after {
  width: 75%;
}
.mixed-section .container-div .mixed-right .pop-images .pop-image1 .pop-decem {
  color: #A5A6AA;
  font-size: 14px;
}
.mixed-section .container-div .mixed-right .news-image {
  margin-top: 50px;
  margin-bottom: 50px;
}
.mixed-section .container-div .mixed-right .news-image img {
  border-radius: 5px;
}
.mixed-section .container-div .mixed-right .hot-cate {
  font-size: 19px;
  color: black;
  font-family: Spartan, sans-serif;
  font-weight: 700;
  margin-right: 15px;
}
.mixed-section .container-div .mixed-right .hot-dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #2962ff;
  display: inline-block;
}
.mixed-section .container-div .mixed-right .hot-categories {
  margin-top: 30px;
}
.mixed-section .container-div .mixed-right .hot-categories ul {
  margin: 0;
  padding: 0;
}
.mixed-section .container-div .mixed-right .hot-categories ul li {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.mixed-section .container-div .mixed-right .hot-categories ul li:nth-child(2) .li-box {
  background: url(https://radiustheme.com/demo/html/neeon/media/gallery/cat_2.jpg) no-repeat center center !important;
}
.mixed-section .container-div .mixed-right .hot-categories ul li:nth-child(3) .li-box {
  background: url(https://radiustheme.com/demo/html/neeon/media/gallery/cat_3.jpg) no-repeat center center;
}
.mixed-section .container-div .mixed-right .hot-categories ul li:nth-child(4) .li-box {
  background: url(https://radiustheme.com/demo/html/neeon/media/gallery/cat_4.jpg) no-repeat center center;
}
.mixed-section .container-div .mixed-right .hot-categories ul li:nth-child(5) .li-box {
  background: url(https://radiustheme.com/demo/html/neeon/media/gallery/cat_5.jpg) no-repeat center center;
}
.mixed-section .container-div .mixed-right .hot-categories ul li .li-box {
  width: 100%;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.09);
  transition: 0.5s ease-in-out;
  background: url(https://radiustheme.com/demo/html/neeon/media/gallery/cat_1.jpg) no-repeat center center;
}
.mixed-section .container-div .mixed-right .hot-categories ul li .li-box a {
  width: 100%;
  line-height: 70px;
  display: inline-block;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
}
.mixed-section .container-div .mixed-right .hot-categories ul li .li-box a .sport-span {
  font-size: 0.875rem;
  font-weight: 700;
  color: white;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transform: translateX(0);
  transition: 0.5s ease-in-out;
}
.mixed-section .container-div .mixed-right .hot-categories ul li .li-box a .hot-number {
  font-size: 0.875rem;
  color: black;
  background-color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}
.mixed-section .container-div .mixed-right .hot-categories ul li .li-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5019607843);
  border-radius: 5px solid red;
  z-index: -1;
  border-radius: 5px;
}
.mixed-section .container-div .mixed-right .hot-categories ul li .li-box:hover {
  background-position: right;
  width: 100%;
}
.mixed-section .container-div .mixed-right .hot-categories ul li .li-box:hover a .sport-span {
  transform: translateX(10px);
}
.mixed-section .container-div .mixed-right .hot-categories ul li .li-box:hover a .hot-number {
  background-color: #2962FF;
  color: white;
}
.mixed-section .container-div .mixed-right .subscribe {
  text-align: center;
  padding: 40px 35px;
  margin-top: 30px;
  background: url(https://radiustheme.com/demo/html/neeon/media/elements/element_5.png) no-repeat;
  background-size: cover;
}
.mixed-section .container-div .mixed-right .subscribe h3 {
  font-size: 22px;
  font-family: Spartan, sans-serif;
  margin-bottom: 8px;
  padding-bottom: 20px;
  position: relative;
  font-weight: 700;
}
.mixed-section .container-div .mixed-right .subscribe h3::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  background-color: #2962ff;
  height: 1px;
  width: 74px;
  bottom: 8px;
}
.mixed-section .container-div .mixed-right .subscribe h3::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 44px;
  margin: 0 auto;
  background-color: #2962ff;
  height: 1px;
}
.mixed-section .container-div .mixed-right .subscribe p {
  color: #646464;
  font-size: 14px;
  margin: 25px 0;
  font-family: Roboto, sans-serif;
}
.mixed-section .container-div .mixed-right .subscribe input {
  font-size: 0.875rem;
  color: #6C6F72;
  height: 53px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: white;
  text-align: center;
  width: 100%;
}
.mixed-section .container-div .mixed-right .subscribe .sub-now {
  font-size: 1rem;
  cursor: pointer;
  color: white;
  background-color: #2962FF;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  height: 53px;
  width: 100%;
  padding: 5px 20px;
  text-align: center;
  border: none;
  font-weight: 600;
  font-family: "Spartan", sans-serif;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  margin-top: 15px;
  text-transform: capitalize;
  transition: 0.5s ease-in-out;
}
.mixed-section .container-div .mixed-right .subscribe .sub-now:hover {
  color: white;
  background-color: #0034c2;
}
.mixed-section .container-div .mixed-right .subscribe .spam {
  color: #ACABAB;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  margin: 15px 0 0;
  display: inline-block;
}
.mixed-section .container-div .mixed-right .tags-box {
  margin-top: 20px;
}
.mixed-section .container-div .mixed-right .tags-box .tag {
  font-size: 17px;
  font-family: Spartan, sans-serif;
  font-weight: 700;
}
.mixed-section .container-div .mixed-right .tags-box .tag-dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #2962ff;
  display: inline-block;
  margin-left: 15px;
}
.mixed-section .container-div .mixed-right .tags-box .tag-line {
  border: 1px solid red;
  margin-left: 20px;
  display: inline-block;
  height: 4px;
}
.mixed-section .container-div .mixed-right .tags-box .tag-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.mixed-section .container-div .mixed-right .tags-box .tag-list .tag-link {
  font-size: 0.875rem;
  color: #646464;
  border: 1px solid #d7d7d7;
  padding: 8px 15px;
  background-color: transparent;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  text-transform: lowercase;
  margin-right: 6px;
  margin-bottom: 6px;
}

@media (max-width: 576px) {
  .author-post .post-box-1 {
    padding: 15px 0;
  }
  .author-post .robert .container-box {
    display: block;
    display: block !important;
    padding: 0px 0;
  }
  .author-post .robert .container-box .robert-image {
    display: block !important;
    margin-bottom: 25px;
  }
  .author-post .robert .container-box .robert-text {
    display: block;
    width: 100%;
  }
  .author-post .robert .container-box .robert-icons {
    display: flex;
    padding-left: 0;
    justify-content: space-between !important;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .author-post .post-box-1 {
    padding: 15px 0;
  }
  .author-post .robert {
    padding: 35px 0;
  }
  .author-post .robert .container-box {
    display: block;
    display: block !important;
    padding: 0px 40px;
    height: 500px;
  }
  .author-post .robert .container-box .robert-image {
    display: block !important;
    margin-bottom: 25px;
  }
  .author-post .robert .container-box .robert-text {
    display: block;
    width: 100%;
    font-weight: 700;
  }
  .author-post .robert .container-box .robert-icons {
    display: inline-flex;
    padding-left: 0;
    padding-bottom: 0;
    justify-content: space-between !important;
  }
  .author-post .robert .container-box .robert-icons a {
    width: 40px;
    padding: 20px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    color: black;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    transition: 0.5s ease-in-out;
  }
  .author-post .robert .container-box .robert-icons a:hover {
    background-color: #2962FF;
  }
}
@media (max-width: 576px) {
  .mixed-section .container-div {
    width: 100%;
    padding: 0 5px;
    display: block;
  }
  .mixed-section .container-div .world {
    display: block;
    width: 100%;
  }
  .mixed-section .container-div .world .world-image {
    display: block;
  }
  .mixed-section .container-div .world .world-text {
    display: block;
    margin-top: 20px;
  }
  .mixed-section .container-div .mixed-right {
    display: block;
  }
  .mixed-section .container-div .mixed-right .news-image {
    text-align: center;
  }
  .mixed-section .container-div .mixed-right .hot-categories ul li {
    overflow: hidden;
  }
  .mixed-section .container-div .mixed-right .hot-categories ul li .li-box {
    height: 80px;
    width: 100%;
    background-size: cover;
  }
  .mixed-section .container-div .mixed-right .hot-categories ul li:nth-child(2) .li-box {
    background-size: cover;
    height: 80px;
    width: 100%;
  }
  .mixed-section .container-div .mixed-right .hot-categories ul li:nth-child(3) .li-box {
    background-size: cover;
    height: 80px;
    width: 100%;
  }
  .mixed-section .container-div .mixed-right .hot-categories ul li:nth-child(4) .li-box {
    background-size: cover;
    height: 80px;
    width: 100%;
  }
  .mixed-section .container-div .mixed-right .hot-categories ul li:nth-child(5) .li-box {
    background-size: cover;
    height: 80px;
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .mixed-section .container-div {
    display: block;
  }
  .mixed-section .container-div .world {
    display: block;
    width: 100%;
  }
  .mixed-section .container-div .world .world-image {
    display: block;
  }
  .mixed-section .container-div .world .world-text {
    display: block;
    margin-top: 20px;
  }
  .mixed-section .container-div .mixed-right {
    display: block;
  }
  .mixed-section .container-div .mixed-right .news-image {
    text-align: center;
  }
  .mixed-section .container-div .mixed-right .hot-categories ul li {
    overflow: hidden;
  }
  .mixed-section .container-div .mixed-right .hot-categories ul li .li-box {
    height: 80px;
    width: 100%;
    background-size: cover;
  }
  .mixed-section .container-div .mixed-right .hot-categories ul li:nth-child(2) .li-box {
    background-size: cover;
    height: 80px;
    width: 100%;
  }
  .mixed-section .container-div .mixed-right .hot-categories ul li:nth-child(3) .li-box {
    background-size: cover;
    height: 80px;
    width: 100%;
  }
  .mixed-section .container-div .mixed-right .hot-categories ul li:nth-child(4) .li-box {
    background-size: cover;
    height: 80px;
    width: 100%;
  }
  .mixed-section .container-div .mixed-right .hot-categories ul li:nth-child(5) .li-box {
    background-size: cover;
    height: 80px;
    width: 100%;
  }
}
#header {
  font-family: Roboto, sans-serif;
  z-index: 10000;
}
#header .header-top {
  color: #6c6F72;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  background-color: #292929;
  padding: 10px 0;
}
#header .header-top .top-left .trend {
  font-size: 13px;
  color: #ffffff;
  position: relative;
  margin-right: 22px;
}
#header .header-top .top-left .trend::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 2%;
  height: 15px;
  right: -15px;
  top: 0;
}
#header .header-top .top-left .trend i {
  color: white;
  font-size: 0.75rem;
  background-image: linear-gradient(#0034c2, #2962ff);
  padding: 10px;
  border-radius: 50%;
  margin-right: 6px;
}
#header .header-top .top-left .newsan {
  font-size: 13px;
  color: white;
}
#header .header-top .top-left .newsan i {
  font-size: 8px;
  padding: 5px;
  color: #656565;
}
#header .header-top .top-right {
  width: 35%;
  display: flex;
  align-items: center;
}
#header .header-top .top-right i {
  color: white;
  padding: 10px;
}
#header .header-top .top-right .sunday {
  color: #A5A6AA;
  font-size: 12px;
  margin-right: 30px;
  position: relative;
}
#header .header-top .top-right .sunday::after {
  content: "";
  position: absolute;
  background-color: #474747;
  width: 2%;
  height: 18px;
  right: -15px;
  top: 0;
}
#header .header-top .top-right .chicago {
  display: none;
}
#header .header-top .top-right .follow {
  color: white;
}
#header .header-top .top-right ul li a {
  color: #BEBDBD;
  font-size: 16px;
}
#header .header-top .top-right ul li a i {
  color: #BEBDBD;
  transition: 0.5s ease-in-out;
}
#header .header-top .top-right ul li a i:hover {
  color: #2962FF;
}

.header-bottom {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 20px;
  z-index: 100;
  left: 0;
}
.header-bottom .nav-menu li {
  padding: 15px 12px 15px 12px;
  color: black;
  margin-right: 7px;
  text-transform: capitalize;
  position: relative;
  font-weight: 600;
  position: relative;
}
.header-bottom .nav-menu li:hover {
  color: #2962FF;
  cursor: pointer;
}
.header-bottom .nav-menu li:hover i {
  transform: rotate(180deg);
}
.header-bottom .nav-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}
.header-bottom .nav-menu li:hover .dropdown-menu ul li a:hover {
  color: #2962FF;
}
.header-bottom .nav-menu li.active {
  color: #2962FF;
  font-weight: bold;
}
.header-bottom .nav-menu li.banbefore::after, .header-bottom .nav-menu li.active::after {
  content: "";
  position: absolute;
  top: 130%;
  left: 50%;
  background-color: #2962FF;
  height: 5px;
  transition: 0.5s ease-in-out;
  width: 0%;
}
.header-bottom .nav-menu li.banbefore::before, .header-bottom .nav-menu li.active::before {
  content: "";
  position: absolute;
  top: 130%;
  left: 50%;
  background-color: #2962FF;
  height: 5px;
  transition: 0.5s ease-in-out;
  width: 0%;
}
.header-bottom .nav-menu li.banbefore:hover::after, .header-bottom .nav-menu li.active:hover::after {
  left: 0;
  width: 50%;
}
.header-bottom .nav-menu li.banbefore:hover::before, .header-bottom .nav-menu li.active:hover::before {
  width: 50%;
}
.header-bottom .nav-menu li i {
  padding: 6px;
  font-size: 12px;
  transition: 0.5s ease-in-out;
}
.header-bottom .nav-menu li .dropdown-menu {
  display: block;
  position: absolute;
  top: 135%;
  left: 0;
  border-radius: 10px;
  padding: 10px 0;
  opacity: 0;
  visibility: hidden;
}
.header-bottom .nav-menu li .dropdown-menu ul li {
  padding: 10px 25px;
  white-space: nowrap;
  position: relative;
}
.header-bottom .nav-menu li .dropdown-menu ul li::before {
  content: "";
  position: absolute;
  background-color: #2962FF;
  left: 10px;
  top: 38%;
  height: 13px;
  width: 3%;
  transition: 0.5s ease-in-out;
  opacity: 0;
}
.header-bottom .nav-menu li .dropdown-menu ul li:hover::before {
  opacity: 1;
}
.header-bottom .nav-menu li .dropdown-menu ul li a {
  color: black;
}
.header-bottom .nav-icons i {
  color: #6C6F72;
  font-size: 25px;
  padding: 7px;
}
.header-bottom .nav-icons i#cart {
  position: relative;
}
.header-bottom .nav-icons i#cart .zero {
  position: absolute;
  right: -1px;
  top: -3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2962ff;
  color: white;
  font-size: 0.875rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#footer {
  font-family: Roboto, sans-serif;
  padding-top: 92px;
  background-color: #0F1012;
}
#footer hr {
  border: 1px solid #252525;
}
#footer .container-boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .container-boxes .footer-logo {
  height: 400px;
}
#footer .container-boxes .footer-logo p {
  margin-top: 30px;
  color: #A5A5A5;
  line-height: 25px;
  font-size: 15px;
  margin-bottom: 25px;
}
#footer .container-boxes .footer-logo ul li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 0.9375rem;
  overflow: hidden;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1019607843);
  color: white;
  margin-right: 4px;
  transition: 0.5s ease-in-out;
}
#footer .container-boxes .footer-logo ul li:hover {
  background-color: #2962FE;
}
#footer .container-boxes .footer-logo ul li:hover a {
  transition: 0.5s ease-in-out;
}
#footer .container-boxes .footer-logo ul li:hover a #fac {
  transform: translateY(-30px);
}
#footer .container-boxes .footer-logo ul li:hover a #fac2 {
  transform: translateY(0px);
  opacity: 1;
}
#footer .container-boxes .footer-logo ul li a {
  color: white;
  transform: translateY(0px);
  display: flex;
  align-items: center;
}
#footer .container-boxes .footer-logo ul li a #fac {
  transform: translateY(0);
  transition: 0.2s ease-in-out;
  padding-left: 12px;
}
#footer .container-boxes .footer-logo ul li a #fac2 {
  transform: translateY(30px);
  transition: 0.2s ease-in-out;
  transition-delay: 0.2s;
  opacity: 0;
  padding-right: 10px;
  margin-left: -17px;
}
#footer .container-boxes .footer-recent {
  height: 400px;
  padding: 0 10px 0 50px;
}
#footer .container-boxes .footer-recent h3 {
  color: white;
  font-size: 20px;
  font-family: Spartan, sans-serif;
  margin-bottom: 30px;
}
#footer .container-boxes .footer-recent .recent-image {
  margin-bottom: 30px;
}
#footer .container-boxes .footer-recent .recent-image:hover .recent-text a::before {
  width: 90%;
}
#footer .container-boxes .footer-recent .recent-image:hover .recent-text a::after {
  width: 60%;
}
#footer .container-boxes .footer-recent .recent-image:hover .recent-image-box img {
  transform: scale(1.05);
}
#footer .container-boxes .footer-recent .recent-image .recent-image-box {
  margin-right: 10px;
  overflow: hidden;
  width: 60%;
}
#footer .container-boxes .footer-recent .recent-image .recent-image-box img {
  border-radius: 50%;
  width: 100%;
  transition: 0.4s ease-in-out;
}
#footer .container-boxes .footer-recent .recent-image .recent-text a {
  color: #EBEBEB;
  font-size: 15px;
  display: inline-block;
  margin-bottom: 15px;
  font-weight: bold;
  position: relative;
}
#footer .container-boxes .footer-recent .recent-image .recent-text a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  width: 0%;
  transition: 0.2s ease-in-out;
  height: 2px;
  background-color: white;
}
#footer .container-boxes .footer-recent .recent-image .recent-text a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 0%;
  transition: 0.2s ease-in-out;
  transition-delay: 0.2s;
  height: 2px;
  background-color: white;
}
#footer .container-boxes .footer-recent .recent-image .recent-text p {
  font-size: 12px;
  color: #D0D0D0;
  font-weight: bold;
}
#footer .container-boxes .footer-recent .recent-image .recent-text p i {
  padding: 5px;
}
#footer .container-boxes .categories {
  height: 400px;
  padding: 0 90px;
}
#footer .container-boxes .categories h3 {
  font-size: 20px;
  font-family: Spartan, sans-serif;
  margin-bottom: 30px;
  color: white;
  font-weight: 600;
}
#footer .container-boxes .categories ul li {
  color: #6C6F72;
  margin-bottom: 25px;
  font-size: 16px;
}
#footer .container-boxes .categories ul li a {
  color: #8F8F8F;
  font-size: 15px;
  padding: 0 0 0 20px;
  text-transform: capitalize;
  position: relative;
  transition: 0.5s ease-in-out;
}
#footer .container-boxes .categories ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #a5a5a5;
  transition: all 0.3s ease;
  transition: 0.5s ease-in-out;
}
#footer .container-boxes .categories ul li a:hover {
  color: white;
}
#footer .container-boxes .categories ul li a:hover::before {
  background-color: #2962FE;
}
#footer .container-boxes .insta {
  height: 400px;
}
#footer .container-boxes .insta h3 {
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
  font-family: Spartan, sans-serif;
  font-weight: bold;
}
#footer .container-boxes .insta .insta-images {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}
#footer .container-boxes .insta .insta-images .insta-div {
  position: relative;
}
#footer .container-boxes .insta .insta-images .insta-div a img {
  vertical-align: middle;
  border-radius: 5px;
  transform: scale(1.02);
  transition: all 1.5s ease-out;
  border-radius: 4px;
}
#footer .container-boxes .insta .insta-images .insta-div::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.792);
  visibility: hidden;
  opacity: 1;
  height: 100%;
  width: 100%;
  transform: scale(0);
  transition: 0.5s ease-in-out;
  border-radius: 5px;
  z-index: 1;
}
#footer .container-boxes .insta .insta-images .insta-div::after {
  content: "\f16d";
  position: absolute;
  z-index: 2;
  font-family: "Font Awesome 5 Brands";
  font-weight: 500;
  font-size: 18px;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#footer .container-boxes .insta .insta-images .insta-div:hover::before {
  opacity: 1;
  visibility: visible;
  transform: scale(1.02);
}
#footer .container-boxes .insta .insta-images .insta-div:hover::after {
  opacity: 1;
  visibility: visible;
}
#footer .container-boxes .footer-end-text {
  text-align: center;
  padding: 30px 0 20px;
}
#footer .container-boxes .footer-end-text p {
  color: #CCCCCC;
  font-size: 16px;
}

@media (max-width: 576px) {
  #header {
    font-family: Roboto, sans-serif;
  }
  #header .header-top {
    padding: 12px 25px;
    width: 100%;
    background-color: white;
  }
  #header .header-top .top-left {
    display: none;
  }
  #header .header-top .top-right {
    width: 100%;
    display: flex;
    align-items: center;
  }
  #header .header-top .top-right .sunday {
    display: block;
    margin: 0;
    padding: 0px 10px 0 0;
    white-space: nowrap;
    font-size: 15px;
  }
  #header .header-top .top-right .sunday i {
    font-size: 15px;
    color: #2962FF;
  }
  #header .header-top .top-right .sunday::after {
    opacity: 0;
    visibility: hidden;
  }
  #header .header-top .top-right .chicago {
    display: block;
    font-size: 16px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    color: #A5A6AA;
  }
  #header .header-top .top-right .chicago i {
    font-size: 15px;
    color: #2962FF;
  }
  #header .header-top .top-right .follow {
    display: none;
  }
  #header .header-top .top-right ul li {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  #header {
    font-family: Roboto, sans-serif;
  }
  #header .header-top {
    padding: 12px 0;
    text-align: center;
    background-color: white;
  }
  #header .header-top .top-left {
    display: none;
  }
  #header .header-top .top-right {
    width: 100%;
    display: block;
    display: flex;
    align-items: center;
  }
  #header .header-top .top-right .sunday {
    margin-right: 10px;
    font-size: 15px;
  }
  #header .header-top .top-right .sunday i {
    font-size: 15px;
    color: #2962FF;
  }
  #header .header-top .top-right .sunday::after {
    opacity: 0;
    visibility: hidden;
  }
  #header .header-top .top-right .chicago {
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #A5A6AA;
  }
  #header .header-top .top-right .chicago i {
    font-size: 15px;
    color: #2962FF;
  }
  #header .header-top .top-right .follow {
    display: none;
  }
  #header .header-top .top-right ul li {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  #header {
    font-family: Roboto, sans-serif;
  }
  #header .header-top {
    padding: 5px 35px;
    background-color: black;
  }
  #header .header-top .top-left {
    display: block;
  }
  #header .header-top .top-right {
    display: block;
    border: 2px solid red;
    display: flex;
    align-items: center;
  }
  #header .header-top .top-right .sunday {
    font-size: 15px;
  }
  #header .header-top .top-right .sunday i {
    font-size: 15px;
    color: white;
  }
  #header .header-top .top-right .sunday::after {
    opacity: 0;
    visibility: hidden;
  }
  #header .header-top .top-right .chicago {
    display: none;
  }
  #header .header-top .follow {
    display: none;
  }
  #header .header-top ul li {
    display: none;
  }
}
@media (max-width: 992px) {
  .header-bottom {
    border-bottom: 1px solid rgba(81, 81, 81, 0.15);
    border-top: 1px solid rgba(81, 81, 81, 0.15);
    padding: 6px 15px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .header-bottom .logo img {
    height: auto;
    width: 70%;
  }
  .header-bottom .nav-menu {
    display: none;
  }
  .header-bottom .nav-icons i {
    display: none;
  }
  .header-bottom .nav-icons i:nth-child(3) {
    display: block;
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  #footer .container-boxes {
    display: block;
  }
  #footer .container-boxes .footer-logo {
    margin-bottom: 2px;
    padding-bottom: 0px;
    height: 220px;
  }
  #footer .container-boxes .footer-recent {
    padding-left: 0;
  }
  #footer .container-boxes .footer-recent h3 {
    font-weight: bold;
  }
  #footer .container-boxes .footer-recent .recent-image {
    justify-content: flex-start !important;
  }
  #footer .container-boxes .categories {
    padding-left: 0;
    padding-bottom: 0px;
    margin-top: -42px;
  }
  #footer .container-boxes .insta {
    height: 230px;
    margin-top: -20px;
  }
  #footer .container-boxes .insta .insta-images {
    width: 50%;
  }
  #footer .container-boxes .insta .insta-images .insta-div {
    margin-right: 10px;
    margin-bottom: -25px;
  }
  #footer .container-boxes .insta .insta-images .insta-div img {
    width: 100%;
    border-radius: 5px;
  }
  #footer hr {
    margin-top: 20px;
    background-color: white;
  }
  #footer .footer-end-text {
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #footer .container-boxes {
    padding: 0 30px;
    display: block;
  }
  #footer .container-boxes .footer-logo {
    margin-bottom: 2px;
    padding-bottom: 0px;
    height: 220px;
  }
  #footer .container-boxes .footer-recent {
    padding-left: 0;
  }
  #footer .container-boxes .footer-recent h3 {
    font-weight: bold;
  }
  #footer .container-boxes .footer-recent .recent-image {
    justify-content: flex-start !important;
  }
  #footer .container-boxes .categories {
    padding-left: 0;
    padding-bottom: 0px;
    margin-top: -42px;
  }
  #footer .container-boxes .insta {
    height: 230px;
    margin-top: -20px;
  }
  #footer .container-boxes .insta .insta-images {
    width: 50%;
  }
  #footer .container-boxes .insta .insta-images .insta-div {
    margin-right: 7px;
    margin-bottom: -25px;
  }
  #footer .container-boxes .insta .insta-images .insta-div img {
    width: 100%;
    border-radius: 5px;
  }
  #footer hr {
    margin-top: 20px;
    background-color: white;
  }
  #footer .footer-end-text {
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;
  }
}/*# sourceMappingURL=style.css.map */