@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100;1,300;1,500&display=swap');
@import "_variable.scss";
@import "_author.scss";
@import "_static.scss";
@import "_about.scss";
@import "_feature.scss";
@import "_technology.scss";
@import "_main.scss";
@import "_shopdet.scss";

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

